body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
   
}
.header-items {
    display: flex;
    padding-top: 12px;
    
}

.header {
    color: white;
    font-weight: bold;
}
.header-container {
    background-color: #1e762b;
    
}
ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a:link{
    text-decoration: none;
}
a {
    color: white;
    font-size: 18px;
    
}
li {
    font-weight: #E5E7EB;
} 
.ztx {
    font-size: 48px;
    font-weight: #f9fAf8;
    color: white;
    padding: 12px;
}
.main {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.catchy {
    font-size: 18px;
    font-weight: #E5E7EB;
    color: white;
    padding: 12px;
    margin-top: -12px;
    overflow: hidden;
    white-space: wrap;
    width: 300px;
    
}
button {
    background-color: #43d895;
    padding: 7px;
    border-radius: 8px;
}
.button {
    margin-left: 10px;
}
.header{
    margin-left: 82px;
    font-size: 24px;
    font-weight: #F9FAF8;
}
.right-links {
    margin-left: auto;
    margin-right: 72px;
}
.img {
   
     margin-right: auto;
     padding-top: 20px; 
   
}
img {
    border-radius: 9px;
    
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
   
}
.text {
    font-size: 36px;
    font-weight: #1F2937;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 19px;
}
.images {
    display: flex;
    justify-content: center;
    align-items: center;
   gap: 24px;
   margin-top: 18px;
  flex-wrap: wrap;
  padding-bottom: 30px;
  
     
}
.second-container{
    padding-bottom: 22px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   

}
img {
    border: 2px solid rgb(82, 253, 185);
}
.footer {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    text-align: center;
    background-color: #1F2937;
    padding: 18px;
    bottom: 0;
    
    
   
    
    
}
.third-container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 32px;
    
   
   
}
.quote {
    margin-left: auto;
    margin-right: auto;
    padding-left:  54px;
    padding-top: 22px;
    text-align: center;
    font-size: 36px;
    font-weight: #1F2937;
    font-style: italic;
    overflow: hidden;
    white-space: wrap;
    width: 400px;
    padding-bottom: 50px;
    
}
.author {
    margin-left: auto;
    margin-right: auto;
}
.lines {
    white-space: wrap;
    width: 200px;
    overflow: hidden;
    text-overflow:clip;
    padding-top: 7px;
}


.sign {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 76px;
    background-color: #3882F6;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 26px;
    margin-top: 42px;
    margin-bottom: 42px;



}
.sign-up-button {
    display: inline-block;
    background-color:  #3882F6;
    color: white;
    border-color: white;
    padding: 8px 12px 8px 12px;
}
.buttons{
    margin-right: auto;
}
.idk {
    
    margin-left: auto;
}
.up {
    font-size: 19px;
    font-weight: 800px;
    color: white;
}
.agency{
    color: white;
    font-size: 12px;
    font-weight: 90px;
}
body {
    background-image: url('image.png');
    background-size: cover;
    background-repeat: no-repeat;
}

